@using Luval.GPT.Data.Entities
@using Luval.WebGPT.Data.ViewModel
@using Luval.WebGPT.Presenter
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Luval.WebGPT
@using WebPush


@inject NotificationPresenter presenter
@inject IJSRuntime js
@inject IHttpContextAccessor context


<div id="GiveAccess">
    Give access to making notifications:
    <button class="btn btn-primary" id="PromptForAccessBtn" @onclick="AskForPermission">Prompt</button>
</div>

<div id="NoSupport" style="display:none;">
    Your browser does not support Push Notifications or you have blocked notifications
</div>

<form method="post" id="form"  @onsubmit="Submit">
    <input id="endpoint" hidden />
    <input id="p256dh" hidden />
    <input id="auth" hidden />

    <button class="btn btn-secondary" type="submit">Subscribe</button>
</form>


<NotificationJS></NotificationJS>

@code {

    protected override void OnInitialized()
    {
        presenter.Js = js;
        presenter.Sub.User = context.HttpContext.User.ToUser();

        base.OnInitialized();
    }

    void AskForPermission()
    {
        js.InvokeVoidAsync("requestNotificationAccess");
    }

    Task Submit()
    {
        return presenter.RegisterDevice();
    }


}
