@using Luval.GPT.Data.Entities
@using Luval.WebGPT.Data.ViewModel
@using Luval.WebGPT.Presenter
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Luval.WebGPT
@using WebPush


@inject NotificationPresenter presenter
@inject IJSRuntime js
@inject IHttpContextAccessor context


<Spinner ShowSpinner="presenter.IsWorking"></Spinner>

<div id="GiveAccess">
    Give access to making notifications:
    <button class="btn btn-primary" id="PromptForAccessBtn" @onclick="AskForPermission">Prompt</button>
</div>

<div id="NoSupport" style="display:none;">
    Your browser does not support Push Notifications or you have blocked notifications
</div>

<form method="post" id="form"  @onsubmit="Submit">
    <input id="endpoint" hidden />
    <input id="p256dh" hidden />
    <input id="auth" hidden />

    <button class="btn btn-secondary" type="submit">Subscribe</button>
</form>

@if(!presenter.ErrorOcurred && presenter.SystemMessage != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <hr>
        <p>@presenter.SystemMessage</p>
    </div>
}
else if (presenter.ErrorOcurred && presenter.SystemMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Opps we have a problem</h4>
        <hr>
        <p>@presenter.SystemMessage</p>
    </div>
}


<NotificationJS></NotificationJS>

@code {

    protected override void OnInitialized()
    {
        presenter.Js = js;
        presenter.Sub.User = context.HttpContext.User.ToUser();

        base.OnInitialized();
    }

    void AskForPermission()
    {
        js.InvokeVoidAsync("requestNotificationAccess");
    }

    Task Submit()
    {
        return presenter.RegisterDevice();
    }


}
