@page "/"
@using Luval.Framework.Core.Configuration
@using Luval.WebGPT.Component.Notifications

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a class="btn btn-secondary" href="/auth/google-login">Google Login</a>

<AuthorizeView>
    <Authorized>

        <NotificationUI ApplicationServerKey="@ConfigManager.Get("VAPIKey")"></NotificationUI>

        <ul>
            @foreach (var c in context.User.Claims)
            {
                <li>@c.Type - @c.Value</li>
            }
        </ul>
    </Authorized>
</AuthorizeView>

@code {
}