@page "/"
@using Luval.Framework.Core.Configuration
@using Luval.WebGPT.Component.Agents
@using Luval.WebGPT.Component.Notifications
@using Luval.WebGPT.Component.Auth

<PageTitle>Index</PageTitle>

<LoginControl></LoginControl>

<AuthorizeView>
    <Authorized>
        <h3>Agents</h3>
        <br />
        <NotificationUI></NotificationUI>
        <br />
        <AgentList></AgentList>
    </Authorized>
</AuthorizeView>

@code {
}